# Секретные файлы
.env.vps
.env

# Папки с данными и бэкапами
/data/
/backups/
/logs/

# Виртуальное окружение
.venv/
venv/
env/

# IDE
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt

# Docker
docker-compose.yml

# Системные файлы
.DS_Store
Thumbs.db

deploy*.sh
db_backup.sh
db_restore.sh
Makefile
