# Секретные файлы
.env.vps
.env

# БД и папки с бэкапами
/data/*.hlc2
/data/*.sqlite
/backups/
/logs/
/tmp/

# Виртуальное окружение
.venv/
venv/
env/

# IDE
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt

# Docker
#docker-compose.yml

# Системные файлы
.DS_Store
Thumbs.db

*local*
db_backup_old.sh
db_restore_old.sh
Makefile
